body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: royalblue;
  display: flex;
  align-items: center;
  height: 30px;
  color: white;
  padding: 20px;

}

.menu-1 {
position: relative;
top: 100px;
left: 300px;
right: 300px;

}

.menu-1 button {
  position: relative;
  left: 200px ;
  right: 200px;
}
.main {
          
  display: flex;          
  flex-direction: column;
  width: 200px;
  border-radius: 9px;
  margin: 20px;
  font-size: 12px;
 
  
 
}

.card-image {
  width: 100%;
  border-radius: 5px;
  
}
.card button {
  border-radius:3px;
  background-color: royalblue;
 width: 40px;
 
  font-family: roboto;
  border:none;
  cursor: pointer;
  font-size:13px ;
  margin-left: 5px;
}

.blue-button {
  border-radius:3px;
  background-color: royalblue;
 width: 40px;
 
  font-family: roboto;
  border:none;
  cursor: pointer;
  font-size:13px ;
  margin-left: 5px;

}
.pink-button {
  border-radius:3px;
  background-color: red;
 width: 40px;
 
  font-family: roboto;
  border:none;
  cursor: pointer;
  font-size:13px ;
  margin-left: 5px;

}
.save-button {
  border-radius:3px;
  background-color: royalblue;
 width: 100px;
 
  font-family: roboto;
  border:none;
  cursor: pointer;
  font-size:13px ;
  margin-left: 5px;
  text-align: center;
  display: inline-block

}
.cancel-button {
  border-radius:3px;
  background-color: grey;
 width: 60px;
 

 
  font-family: roboto;
  border:none;
  cursor: pointer;
  font-size:13px ;
  margin-left: 5px;
  text-align: center;
  display: inline-block

}